<% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |error| %>
        <ul>
            <li>
                <%= error %>
            </li>
        </ul>
    <% end %>
<% end %>

<%= render 'form' %>

<%= link_to 'back', article_path %>