

<% @articles.each do |article| %>
    <%= render 'shared/article_card', article: article %>
<% end %>

<div class="pagination-wrapper">
    <div class="digg_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
</div>

