<% if logged_in? %>
    <div class="container text-center mb-4 mt-4">
        <%= link_to 'Write', new_article_path, class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>
<% @articles.reverse.each do |article| %>
    <%= render 'shared/article_card', article: article %>
<% end %>

<div class="pagination-wrapper">
    <div class="digg_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
</div>

