<h1 class="text-center mt-2">List of articles</h1>

<div class="flickr_pagination">
      <%= will_paginate @article, :container => false %>
</div>
<% @articles.reverse.each do |article| %>
  <%= render 'shared/article-card', object: article %>
<% end %>

<div class="flickr_pagination">
    <%= will_paginate @article, :container => false %>
</div>
<br>
<br>
<br>
