<% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |error| %>
        <ul>
            <li>
                <%= error %>
            </li>
        </ul>
    <% end %>
<% end %>

<%= render 'form' %>

<div class="container text-center">
    <%= link_to 'Back', articles_path, class: 'btn btn-secondary' %>
</div>