
<div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4 text-center">About Alpha Blog</h1>
      <p class="lead text-center">Alpha blog is a Ruby on Rails project</p>
      <hr class="my-4">
      <p>I started this project with a RoR course, and im still developing It. By this time the main feature it's just a simple CRUD.</p>
      <p>You can check the code in the GitHub repository:</p>
      <p class="lead">
        <a class="btn btn-outline-dark btn-lg" href="https://github.com/PedroDrago/alpha-blog" role="button">GitHub</a>
      </p>
    </div>
</div>
