
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Alpha Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> This is a project from a RoR course im enrolled with. This is my first Rails project, that served for training CRUD, login, sessions and permissions in Rails 7. I actually wrote this app in rails 6 due to the course being taught in it but decided to migrate and maintain it in rails 7. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= link_to 'GitHub', 'https://github.com/PedroDrago/alpha-blog-v7', class: "btn btn-outline-dark btn-lg px-4" %>
      </div>
    </div>
  </div>