
<div class="container mt-5 ">
    <div class="jumbotron pb-3">
      <h1 class="display-4 text-center">About Alpha Blog</h1>
      <p class="lead text-center">Alpha blog is a Ruby on Rails project</p>
      <hr class="my-4">
      <p>This is a project from a RoR course im enrolled with. This is my first Rails project, that served for training CRUD, login, sessions and permissions in Rails 6. Im planning to change the concept from the original (created by the course) to a "leave a message" application.</p>
      <p class="lead">
        <a class="btn btn-outline-dark btn-lg mt-5" href="https://github.com/PedroDrago/alpha-blog" role="button">GitHub</a>
      </p>
    </div>
</div>
