<div class="container text-center" id="home-container" >
  <div class="jumbotron">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">A Ruby on Rails project!</p>
    <hr class="my-4">
    <p>Start writing now!</p>

    <% if logged_in? %>
      <%= link_to 'Write', new_article_path, class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to 'Signup', signup_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
  Tooltip on top
</button>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="container ">
  <footer class="text-center fixed-bottom align-items-center py-3 border-top mt-5">
      
      <%= link_to '© Pedro Drago', 'https://github.com/PedroDrago', class: 'mb-3 mb-md-0 text-muted' %>
  </footer>
</div>



