<div class="container col-3 mt-5">
    <div class="card-group">
      <div class="card">
      <a href="https://br.gravatar.com/">
      <%= image_tag('gravatar-social.png', class: 'card-img-top') %>
        </a>
        <div class="card-body">
          <h5 class="card-title">Gravatar</h5>
          <p class="card-text">Para mudar sua foto você deve acessar o site <a href="https://br.gravatar.com/">gravatar</a>, criar uma conta com o mesmo email usado em sua conta do Alpha Blog e atribuir uma foto à sua conta do Gravatar. Automaticamente a foto vai aparecer aqui tambem.</p>
        </div>

      </div>
</div>