@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#home-container {
    margin-top: 25px;
    margin-bottom: 380px;
}

#footer-text{
    font-size: 15px;
    text-align: center;
}

#footer{
    justify-content: center;
}


.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */

}

.boneco-login{
    width: 500px;
}

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      border-radius: 5px;
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {

      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #007BFF; }
    .flickr_pagination a {
      border: 1px solid #dddddd;
      color: #6C757D;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        background: #007BFF;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }

.footer-geral{
  margin-bottom: 200px;
}

#login-square{
  margin: 0;
}