<div>
  <% flash.each do |key, value| %>

    <div class="container col-5">
      <div class="<%= flash_class(key) %> alert alert-dismissible fade show in">
       <%# <a href="#" data-dismiss="alert" class="close">×</a>  TURN THIS ON WHEN TURBO IS WORKING%>
        <%= value %>
      </div>
    </div>
  
  
  
  <% end %>
</div>