<div class="container" id="footer-container">
  <nav class="navbar navbar-dark fixed-bottom bg-dark" id="footer">
    <%= link_to 'Copyright © Pedro Drago', 'https://github.com/pedrodrago', class: "navbar-brand mb-0 h1", id: "footer-text"%>
  </nav>
</div>
