<div class="container ">
  <footer class="text-center align-items-center py-3 border-top  mt-5">
      
      <%= link_to '© Pedro Drago', 'https://github.com/PedroDrago', class: 'mb-3 mb-md-0 text-muted' %>
  </footer>
</div>